@{
    ViewData["Title"] = "Players";
}

<h1>Players</h1>
<a asp-action="Create" class="btn btn-primary">Create new player</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Club</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var player in Model)
        {
            <tr>
                <th>@player.Id</th>
                <th>@player.FirstName @player.LastName</th>
                <th>@player.ClubName</th>
                <th style="text-align:right">
                    <a class="btn btn-primary" asp-route-id="@player.Id" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger" asp-route-id="@player.Id" asp-action="Delete">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>